@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  background-color: #326cf3;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  color: unset;
}

.headingWrapper {
  background-color: #2a62df;
  max-width: 90%;
  height: 10vh;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.groupedInputsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  column-gap: 60px;
  justify-content: center;
}
