@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&family=Ubuntu:wght@300;400;500;700&display=swap');

textarea {
  resize: none;
  display: block;
  width: 100%;
}

label {
  font-weight: 800;
  color: white;
  font-size: 22px;
  display: block;
  width: 100%;
}
input {
  display: block;
  width: 100%;
}

.inputText {
  color: black;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.formInput {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  width: 100%;
}
