@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&family=Ubuntu:wght@300;400;500;700&display=swap');

textarea {
  resize: none;
}

label {
  font-weight: 800;
  color: white;
}

.inputText {
  color: black;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.formInput {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  font-size: 26px;
}
